* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ul{
    list-style: none;
    display: flex;
}

header nav{
    background-color: #eee;
    padding: 24px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav span{
    color: #333;
}

header ul li{
    display: inline-block;
    margin-right: 20px;
}

header ul li a{
    text-decoration: none;
    color: #333;
}

header div h2{
    color: #212529;
    font-size: 18px;
    margin: 0px 0px 8px;
}

header div h1{
    color: #212529;
    font-size: 32px;
    margin: 0px 0px 8px;
}

header div p{
    color: #212529;
    font-size: 16px;
}

header div button{
    padding: 24px 64px;
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

header img{
    width: 400px;
    height: auto;
}

footer div h2{
    color: #212529;
    font-size: 18px;
    margin: 0px 0px 8px;
}
footer div p{
    color: #212529;
    font-size: 16px;
    margin: 8px 0px 16px;
}

footer button{
    padding: 8px 16px;
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer div span{
    margin: 8px 0px;
    padding: 8px;
    display: inline-block;
}

.reviews p{
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
}

.review1 img {
   
    display: block;
    margin-bottom: 4px;
    object-fit: cover;
}

.review2 img {
   
    display: block;
    margin-bottom: 4px;
    object-fit: cover;
}

.review3 img {
   
    display: block;
    margin-bottom: 4px;
    object-fit: cover;
}

.review4 img {
   
    display: block;
    margin-bottom: 4px;
    object-fit: cover;
}

.review5 img {
   
    display: block;
    margin-bottom: 4px;
    object-fit: cover;
}

.review6 img {
   
    display: block;
    margin-bottom: 4px;
    object-fit: cover;
}

footer div img{
    display: block;
    margin-bottom: 20px;

}

.services img{
    display: block;
    margin: 0 auto; /* centers the image horizontally on the page */
    max-width: 100%;
    height: auto;
    padding: 2% 0%;
}

.services h4{
    margin-top: 12px;
    margin-bottom: 8px;
}

main div div span h2 {
    margin: 19.92px 0px;
}

main div div span p {
    margin: 13.26px 0px;
}

main div div h3 {
    margin: 16px 0px;
}

.reviews {
    padding: 42px 24px;
}

.review1, .review2, .review3, .review4, .review5, .review6 {
    background-color: #f9f9f9;
}

.review1 div p, .review2 div p, .review3 div p, .review4 div p, .review5 div p, .review6 div p {
    margin: 16px 0px;
}

footer{
    padding: 42px 24px;
}

footer ul li{
    display: inline-flex;
    list-style: none;
    vertical-align: middle;
    align-items: center;
    padding: 1px 2px;
    background-color: black;
    
}

footer ul {
    display: inline-flex;
    align-items: center;
}
footer button {
    padding: 1px 6px;
}

main div img {
    display: block;
}
main div.brands {
    padding: 42px 58px;
}